<banner>
    <div class="skinny-hero-image h-25 d-flex justify-content-center mb-5">
        <div class="h-75 w-100 d-flex flex-row text-white align-self-center justify-content-around">
            <h1 class='align-self-center'><%= @page_title %></h1>
        </div>
    </div> 
</banner>