<body>
  <div class="jumbotron mt-5 overlay-div" style="background:transparent url('https://trendland.com/wp-content/uploads/2017/07/arrangements-by-melissa-gamache-6.jpg') no-repeat center center /cover">
    <div class="container" >
    <h1 class="display-3 mb-2">Informations relative à votre mot de passe</h1>  

    <p>Hello <%= @resource.email %>!</p>

    <p>We're contacting you to notify you that your password has been changed.</p>