<body>
  <div class="jumbotron mt-5 overlay-div" style="background:transparent url('https://trendland.com/wp-content/uploads/2017/07/arrangements-by-melissa-gamache-6.jpg') no-repeat center center /cover">
    <div class="container" >
    <h1 class="display-3 mb-2">Réinitialiser votre mot de passe</h1>  

    <p>Hello <%= @resource.email %>!</p>

    <p>Vous cherchez un lien pour modifier votre mot de passe, vous pouvez le faire via le lien ci-dessous</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>Si vous n'êtes pas à l'origine de ce lien, vous pouvez l'ignorer.</p>
    <p>Votre mot de passe ne sera pas changé tant que vous ne cliquez pas sur ce lien pour le modifier.</p>
